<launch>

  <!-- .yamlファイルから設定を読み込む -->
  <rosparam file="$(find hexarobo_world)/config/controller.yaml" command="load"/>

  <!-- コントローラを読み込む。controller_managerのこのnsが、urdfファイルの最後のNameSpaceと異なると問題が発生する -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" ns="/hexarobo_s" output="screen" args="diff_drive_controller"/>


  <!-- ロボットの今の状態をpublishする。Rvizとかで表示する際に必要である -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen" ns="/hexarobo_s"/>


</launch>
