<launch>

  <!-- Gazeboにモデルを表示する。 -->
  <arg name="model" default="$(find hexarobo_world)/urdf/hexarobo_s.xacro"/>
  <arg name="paused" default="false"/> <!--一時停止しないで表示-->
  <arg name="use_sim_time" default="true"/> <!--シミュレーション時間を使う-->
  <arg name="gui" default="true"/> <!--GUIをつかう-->
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <!-- Gazeboのワールドを表示する -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <!--ロボットの今の状態をpublishする。Rvizで表示する際に必要-->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <!-- xacroで書いたモデルファイルをdescriptionに読み込むために必要 -->
  <param name="robot_description" command="$(find xacro)/xacro $(arg model) --inorder" />

  <!-- gazebo_rosを呼び出す -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-urdf -model hexarobo_s -param robot_description"/>

  <!-- ros_controlを呼び出す。別ファイルに記述 -->
  <include file="$(find hexarobo_world)/launch/hexarobo_control.launch"/>
</launch>
